.breathing__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h3, p, #breath_session {
        margin-left: auto;
        margin-right: auto;
    }
}

.breath__container, .breath__animation {
    width: calc(100vw - 232px); 
    height: calc(100vw - 232px);  
    border-radius: 100%; 
}

.breath__text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    line-height: calc(100vw - 232px);
    text-align: center;
    color: #fcfaff;
    font-weight: 500;
    font-size: 1.5rem;
    transform: scale(1);
    opacity: 0;
    
}

.breath__text::after {
    content: "Breath in...";
}

@media (min-width: 700px) {
    .breath__container, .breath__animation {
        width: 400px; 
        height: 400px;  
    }

    .breath__text {
        line-height: 400px;
        font-size: 2rem;
    }
}

.breath__container {
    background-color: rgb(198, 165, 245);
    position: relative;
    margin-bottom: 2rem;
}

.breath__animation {
    background-color: #9F70E2; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto;
    transform: scale(0);
}

#breath_session__buttton.hidden {
    display: none;
}


.breath__animation.session {
    animation: breathing ease-in-out 12s infinite;
}

.breath__text.session {
    
}

.breath__text.session {
    animation: guide ease-in-out 12s infinite;
}

.breath__text.session::after {
    animation: guideText ease-in-out 12s infinite;
}

@keyframes breathing {
    0% {
        transform: scale(0);
    }

    21.052631578% {
        transform: scale(1);
    }

    57.894736842% {
        transform: scale(1);
    }
}

@keyframes guide {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    10.526315789% {
        opacity: 1;
    }

    21.052631578% {
        opacity: 0;
        transform: scale(1);
    }

    39.47368421% {
        opacity: 1;
    }

    57.894736842% {
        opacity: 0;
        transform: scale(1);
    }
    
    78.947368421% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes guideText {
    0% {
        content: "Breath in...";
    }

    21.052631577% {
        content: "Breath in...";
    }

    21.052631578% {
        content: "Hold it in...";
    }

    57.894736841% {
        content: "Hold it in...";
    }

    57.894736842% {
        content: "Slowly blow out...";
    }

    100% {
        content: "Slowly blow out...";
    }
}

#breathingdone {
    display: none;
    p {
        margin-top: 0.5rem;
        opacity: 0;
    }
    a {
        opacity: 0;
    }
}

#breathingdone.done {
    display: block;
    p {
        animation: fadeIn 0.3s;
        animation-fill-mode: forwards;
    }
    a {
        animation: fadeIn 0.3s ease-in 0.1s forwards;
        animation-fill-mode: forwards;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.total-line {
    width: 100%;
    height: 0.7rem;
    background: #e0e0e0;
    margin-bottom: 1.5rem;
    position: relative;
}

.total-line .progress-line {
    width: 0;
    height: 100%;
    max-width: 100%;
    left: 0;
    top: 0;
    background: #9F70E2;
}

.total-line .progress-line.animated {
    transition: width 60s linear;
}