.dash {
	position: relative;
}

#container {
	position: relative;
    margin: 0;
    width: auto;
    overflow: hidden;
    min-height: 600px;
	padding: 2rem 0px;
	min-width: 990px;
	background-position: 0 0;
	transition: background-position 0.3s ease-out;
}

#container.drawerOpen {
	background-position: 344px 0;
}

.main-overlay {
	margin: 0 auto;
    color: #333;
    font-family: "Proxima Nova Regular", arial, sans-serif;
    font-size: 18px;
    position: relative;
    transition: left 0.3s ease;
    padding: 0px 20px 0px 100px;
}

.main-overlay.drawerOpen {
	left: 100px;
}

.card__text p {
	font-size: 0.9rem;
    margin-top: 1rem;
}

.card__items p a {
	font-size: 0.9rem;
}

.main__content {

    h3 {
        margin: 50px 0 20px 20px;
    }
}

.main__container--habit {
    background-color: white;
    padding: 2%;
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    border-radius: 20px;
    box-shadow: 1px 6px 20px 0px gainsboro;

    h4 {
        padding: 10px;
    }

    a {
        margin: 0px 0 10px 10px;
        display: block;
    }
}

@media (max-width: 589px) {
    .profile__name {
        display: none;
    }
}


@media (min-width: 768px) {
    .main__container--habit {
        background-color: white;
        padding: 0;
        margin: 20px 2.5%;
        width: 45%;
        border-radius: 20px;
        box-shadow: 1px 6px 20px 0px gainsboro;
    }
}

.goal_progress_bar {
    width: calc(100% - 2rem);
    margin: 1rem;
    height: 2rem;
    background-color: #13196b;
    position: relative;
}

.goal_progress_bar_progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    width: 0%;
    max-width: 100%;
    transform-origin: left;
    animation: progressSlide .5s ease-in-out;
    overflow:hidden;
}

@keyframes progressSlide {
    from{
        max-width: 0;
    }
    to{
        max-width: 100%;
    }
}

.goal_progress__progress_text {
    display: block;
    position: absolute;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    left: 0;
    width: 100%;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.goal_progress_text {
    margin-left: 1rem;
}

.profile__picture--wrapper {

}

.profile__name {
    display: none;
}

.tile_container {
    position: relative;
    height: 100%;
}

.water-content {
    padding: 10px 0 7px 0;
    text-align: center;
  }
  .waterConsumption {
    zoom: 1;
    width: 220px;
    margin: 10px auto auto auto;
  }
  .waterConsumption:before,
  .waterConsumption:after {
    content: "";
    display: table;
  }
  .waterConsumption:after {
    clear: both;
  }
  .waterConsumption .container {
    float: left;
    width: 45px;
    height: 52px;
    margin-bottom: 20px;
    padding: 0 5px;
    background: no-repeat center;
  }
  .waterConsumption .container {
    float: left;
    width: 45px;
    height: 52px;
    margin-bottom: 20px;
    padding: 0 5px;
    background: no-repeat center;
  }