.user__profile .group label {
    font-size: 0.7rem;
    text-transform: uppercase;
}

.user__profile .group p {
    font-size: 1rem;
    font-family: $font-family-text
}

.profile__button {
    display: inline-block;
}