.habit_table th:last-child {
    background-color: #5E64B5;
    border-color: #5E64B5; 
}

.habit_table td:last-child {
    background-color: #B2B6E8;
    border-color: #d6d8f6;
}

.habit_nodata {
    font-size: 1.25rem;
}

.water-add-form {
    width: 100%;
    display: flex;
    #wateradd {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #wateraddbutton{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}