.habit_table th:last-child {
    background-color: #e14da5;
    border-color: #e14da5; 
}

.habit_table td:last-child {
    background-color: #eaeaea;
    border-color: #eaeaea;
}

.habit_nodata {
    font-size: 1.25rem;
}