.alert__close {
    position: absolute;
    right: 10px;
    top: 5px;
    color: rgb(151, 151, 151);
    font-weight: bold;
}

.alert--button {
    margin-left: 20px;
    font-size: .8em;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    margin: 10px 0;
}

.alert--message {
    margin: 0;
}

.alert-success {
    color: #347a82;
    background-color: #b5eff5;
    border: none;
}

.alert-warning {
    color: #857b26;
    background-color: #fffbdb;
    border: none;
}

@media (min-width: 748px) { 

    .alert--button {
        margin: 0;
        margin-left: 20px;
        display: inline-block;
    }

    .alert__close {
        right: 20px;
        top: 28%;
    }

}