.btn-danger {
    color: #fff;
    background-color: #e6605c;
    border: none;
}

.btn-danger:hover {
    color: #fff;
    background-color: #e6605c;
    border: none;
}

.btn-outline-dark {
    color: #857b26;
    background-color: transparent;
    background-image: none;
    border-color: #857b26;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #857b26;
    border-color: #857b26;
}

.btn-success {
    color: #fff;
    background-color: #5ad68f;
    border: none;
}

.btn-success:hover {
    color: #fff;
    background-color: #5ad68f;
    border: none;
}

.btn-register {
    margin-top: 0;
    color: #fff;
    background-color: $indigo;
    border: none;
}