.mainHeader {
    background-color: white;
    height: 100vh;
}

.logo {
    width: 50px;
    text-align: center;
    margin: 30px auto 50px;
}

nav {

    .nav-item {

        a {
            color: $light_gray;
            font-size: 1.2em;    
            display: inline-block;
        }
    
        .active {
            font-weight: bold;
            color: $dark_gray;
        }

        .icon {
            display: inline-block;
            width: 17px;
            margin-right: 10px;
        }

    }
    
}

.top__content {
    padding-top: 30px;
    padding-bottom: 20px;

    h2 {
        color: $dark_gray;
        font-weight: bold;
    }

    p {
        color: $light_gray;
    }
}

.profile__picture {

    .profile__picture--wrapper {
        text-align: right;
    }

    img {
        width: 50px;
        border-radius: 100px;
    }

    p {
        color: $dark_gray;
        margin: 12px 0;
    }
}